{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Página de bienvenida
{% endblock %}

{% block content %}
<p>
    Este es un estudio sobre votaciones y distribución del presupuesto público.
</p>
<p>
A continuación te explicaremos la estructura del experimento.
</p>
<p>
    Primero, leerás las instrucciones. Luego, se te asignará un rol de prueba y jugarás una ronda de práctica. 
    Esta ronda no tiene ninguna repercusión en tu pago.
</p>

<p>
    Luego, se te asignará tu rol verdadero y jugarás 10 rondas reales con las mismas reglas generales. 
    Tras la 5ta ronda, habrá otra reasignación de roles y habrá un cambio en las reglas que se te informará antes de 
    comenzar la 6ta ronda.
</p>
<p>
    Para pagarte por el juego de votación, la computadora elegirá aleatoriamente una de dos opciones: 
    tu puntaje acumulado entre las rondas 1 y 5 o tu puntaje acumulado entre las rondas 6 y 10. 
    Recibirás un sol (S/) por cada cuatro puntos obtenidos en las cinco rondas seleccionadas. 
    Podrás ganar hasta 17.50 soles por esta parte del experimento.
</p>
<p>
    Tras las 10 rondas de elecciones, tomarás decisiones en cuatro tareas cortas. Con estas decisiones también podrás ganar más dinero.
</p>
<p>
    Tu pago final de la sesión se compondrá de tres partes: tu pago por las cinco rondas elegidas por la computadora, 
    tu pago por las tareas cortas, y tu pago por participación.
</p>
<p>
    Para que la sesión se lleve a cabo de manera adecuada, te pedimos que te mantengas frente a la computadora y 
    la pestaña del experimento todo el tiempo para que no pierdas ninguna información u oportunidad importante. 
    Participa activamente, pues estarás interactuando con otros 5 participantes, 
    quienes podrán avanzar en la medida que tú también avances.
</p>

<p>
    La estructura de la sesión se resume así:
</p>

<img height="30%" width="100%" src="{% static "esquema_experimento.png"%}"/>

<p>
    Recuerda que a lo largo del juego nos puedes contactar con los botones de abajo de la pantalla.
    Además, en las siguientes páginas aparecerá un botón desplegable abajo en la pantalla para que puedas
    recordar fácilmente las instrucciones generales del juego.
</p>

{% next_button %}   

<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static "whatsapp.png"%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static "gmail.png"%}"/> e2lab@up.edu.pe


{% endblock %}