{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Serie 2
{% endblock %}

{% block content %}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-g1fv{background-color:#333333;color:#ffffff;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0449{background-color:#333333;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-g1fv">Alternativa</th>
    <th class="tg-0449" colspan="2">Lotería A</th>
    <th class="tg-0449" colspan="2">Lotería B</th>
  </tr>
  <tr>
    <td class="tg-fymr">15</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">54 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">16</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">56 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">17</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">58 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">18</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">60 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">19</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">62 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">20</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">65 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">21</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">68 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">22</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">72 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">23</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">77 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">24</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">83 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">25</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">90 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">26</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">100 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">27</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">110 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
  <tr>
    <td class="tg-fymr">28</td>
    <td class="tg-0pky">40 solex con 90% de seguridad</td>
    <td class="tg-0pky">30 solex con 10% de seguridad</td>
    <td class="tg-0pky">130 solex con 70% de seguridad</td>
    <td class="tg-0pky">5 solex con 30% de seguridad</td>
  </tr>
</table>

    <p>
        {% formfields %}
    </p>
    <p>
    {% next_button %}
    </p>

    <p>
      {% include Constants.contact_template %}
  </p>


{% endblock %}