{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Envío de mensajes
{% endblock %}

{% block content %}

    <p>
    Eres el <b>Participante A</b>. Ahora debes decidir qué mensaje le enviarás al Participante B para cada uno de los valores posibles que pueda escoger la computadora.
    </p>

    {% formfields %}
    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

    <p>
        {% include Constants.contact_template %}
    </p>

{% endblock %}
