{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Tareas cortas
{% endblock %}

{% block content %}
</p>
A continuación, tendrás 4 tareas cortas antes de terminar el experimento. Cada una es muy corto, pero aún así podrás ganar dinero por tu 
participación en ellos. 
</p>
</p>
Cuando termines las 4 tareas cortas, la computadora escogerá aleatoriamente una de ellos y te pagaremos según tu puntaje en él.
Este pago se sumará a tu ganancia por participar en el juego principal de elecciones.
</p>


{% next_button %}   

<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static "whatsapp.png"%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static "gmail.png"%}"/> e2lab@up.edu.pe


{% endblock %}