{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Minijuegos
{% endblock %}

{% block content %}
</p>
A continuación, jugarás 5 minijuegos antes de terminar el experimento. Cada uno es muy corto, pero aún así podrás ganar dinero por tu 
participación en ellos. 
</p>
</p>
Cuando termines de jugar los 5 minijuegos escogeremos aleatoriamente uno de ellos y te pagaremos según tu puntaje en él.
Este pago se sumará a tu ganancia por participar en el juego principal de elecciones.
</p>


{% next_button %}   

<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static "whatsapp.png"%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static "gmail.png"%}"/> e2lab@up.edu.pe


{% endblock %}