{% load otree %}

<div class="card bg-light m-3">
<div class="card-body">
    <h3>
        Instrucciones: Minijuego 3
    </h3>

    <p>
        En este minijuego, se te emparejará aleatoria y anónimamente con otro participante.
        Uno de ustedes será el Participante A y el otro el Participante B.
        Antes de tomar alguna decisión, conocerán cuál es su rol.
    </p>
    <p>
        Existen {{ Constants.endowment }} puntos para dividirse. El Participante A decidirá
        con cuánto se quedará. Luego, el resto será ofrecido al Participante B. 
        Entonces, el Participante B podrá aceptar o rechazar el ofrecimiento. 
        Si el Participante B acepta, el monto será dividido según la propuesta.
        Si el Participante B rechaza el ofrecimiento, ambos participantes recibirán nada.
    </p>
    <p>
        En este minijuego, 50 puntos equivalen a S/1 (un sol).
    </p>
</div>
</div>