{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Juego de elecciones y distribución del presupuesto{% endblock %}

{% block content %}

    <p>
        A continuación, jugarás un juego {{ Constants.num_rounds }} veces. Tendrás el mismo rol en todas las rondas.
        Lee con atención las instrucciones. Si ya has jugado otro juego antes de este, notarás que
        varía la forma en la que se elige al presidente.
    </p>

    {% next_button %}
    <p>
        {% include Constants.contact_template %}
    </p>
{% endblock %}