{% extends "global/Page.html" %}
{% load otree %}


{% block title %}Promesa{% endblock %}

{% block content %}
{% include Constants.mapa_eleccion %}
<p><b>Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}.</b></p>
    <p>
        A continuación, introduce tus promesas de campaña. Con esta información, los votantes decidirán a qué político darle sus votos.
        Nota que estas promesas no son vinculantes. Es decir, si sales electo, luego puedes hacer algo diferente a lo prometido.
        El presupuesto para distribuir entre los votantes es de {{ Constants.budget }}.
    </p>

    {% formfields %}

    <p>
        Ahora presiona Next. Llegarás a la siguiente página cuando los tres políticos hayan emitido sus propuestas.
    </p>

    {% next_button %}

    {{ if player.id_in_group <= 3 }}
        {% include Constants.instructions_template_voter %}
    {{ endif }}

    {{ if player.id_in_group > 3 }}
        {% include Constants.instructions_template_politician %}
    {{ endif }}
    <p>
        {% include Constants.contact_template %}
    </p>
{% endblock %}