{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Pago final
{% endblock %}

{% block content %}
    <head><style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        text-align: center;
        }
        th {
        text-align: center;
        }
    </style></head><body>
        <h2>Tus puntos en este experimento</h2>
        <p>
            Tus puntos en este experimento fueron así:
        </p>
        <table style="width:100%">
            <tr>
                <th>Rondas</th> <th>Tu rol</th> <th>Tus puntos</th>
            </tr>
            <tr>
                <td>Primeras 5</td> <td>{{ participant.rol_demo1 }}</td> <td>{{ participant.puntos_demo1 }}</td>
            </tr>
            <tr>
                <td>Últimas 5</td> <td>{{ participant.rol_demo2 }}</td> <td>{{ participant.puntos_demo2 }}</td>
            </tr>
        </table>
    </body>

    <p>
        Aleatoriamente, la computadora eligió que se te pagará por las <b>{{ participant.paid_in }}</b> rondas.
        Por lo tanto, tu pago final convertido en soles es, como dijimos al inicio,
        un cuarto de ese puntaje: <b>{{ participant.pago_final_final }}</b>.
    </p>

    <head><style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        text-align: center;
        }
        th {
        text-align: center;
        }
    </style></head><body>
        <h2>Puntos adicionales por tareas cortas</h2>
        <p>
            Tus puntos en las tareas cortas son los siguientes:
        </p>
        <table style="width:100%">
            <tr>
                <th>Tarea corta</th> <th>Tus puntos</th>
            </tr>
            <tr>
                <td>Primera tarea</td>  <td>{{ dictator_pago }}</td>
            </tr>
            <tr>
                <td>Segunda tarea</td> <td>{{ trust_pago }}</td>
            </tr>
            <tr>
                <td>Tercera tarea</td>  <td>{{ ultimatum_pago }}</td>
            </tr>
            <tr>
                <td>Cuarta tarea</td>  <td>{{ lying_pago }}</td>
            </tr>
        </table>
    </body>

    <p>
        Aleatoriamente, la computadora eligió que se te pagará por la <b>{{ player.paid_in_jueguito }}</b>.
        Por lo tanto, tu pago adicional por tareas cortas convertido en soles es <b>{{ player.pago_final_de_jueguitos }}</b>.
    </p>

    <p>
        Por lo tanto, tu pago final por todo el experimento 
        es {{ player.pago_final_final }}+{{ player.pago_final_de_jueguitos }} = <b>{{ player.pago_final_final_experimento }} soles</b>
        + 5.00 soles (tu pago por participación).
    </p>

    {% next_button %}
    <p>
        {% include Constants.contact_template %}
    </p>
{% endblock %}